/* VARIABLES */
$max-width: 1280px;
$min-width: 640px;
$tab-label-background: #626262;
$caption-color:  darken(grey, 30%);

/* FONT */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html, 
body {
	margin:0;
	padding:0;
	font-family: 'Open Sans';
	font-size: 16px;
	height: auto;
}

* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/body-background.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

header {
	position: relative;
	height: 80px;
	
	.logo {
		float: left;
		
		> a {
			line-height: 2;
		}
	}
	
	.search-box  {
		float: right;
		
		input {
			padding: 8px 10px;
		}
	}
	
	.head-bar {
		background: black;
		position: fixed;	
		top: 0;
		width: 100%;
		height: 80px;
		margin:0;
		padding:0;
		z-index: 9002;
	}
}

.page-body {
	width: 100%;
}

.container {
	height: 100%;
	min-width: $min-width;
	max-width: $max-width;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-main  {
	position: relative;
	min-height: 100%;
	
	&:after {
		content : "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: black;
		width: 100%;
		height: 100%;
		opacity : 0.2;
		z-index: -1;
	}
}

.content {
	padding: 10px 20px;
	margin-bottom: 20px;
}

.error {
	outline: 1px red solid !important;
}

.input-style {
	outline: none;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
	
	&:hover {
		border: none;
		outline: 1px solid lighten(grey, 10%);
		outline-offset: 0;
	}
}

.input-style-text {
	@extend .input-style;
	
	&:focus {
		border: none;
		outline: 1px solid lighten(grey, 10%);
		outline-offset: 0;
	}
	
}

.notifications {
	background: lightgray;		
}

/* NAVIGATION */

nav {
	@include clearfix;
}

.nav-section {
	position: relative;
	padding-bottom: 0;
	float: left;
	width: 32%;
	height: 180px;
	margin: 0;
	background-color: black;
	background-repeat: no-repeat;
    background-position: 50% 75px;
	color: white;
	
	&:hover {
		.triangle {
			@include transform(rotateZ(-180deg));
		}
		
		.action-list {
			max-height: 200px;
			@include transition(max-height 0.5s ease);
		}
	}
	
	+ .nav-section {
		margin-left: 2%;
	}
	 
	> p {
		padding-left: 12px;
		padding-right: 12px;
		text-align: center;
		font-size: 1.2em;
	}
}

.nav-section-report {
	background-image: url('../img/icons/action-report-new.png');
}

.nav-section-dashboard {
	background-image: url('../img/icons/action-report-top.png');
}

.nav-section-help {
	background-image: url('../img/icons/actions-help.png');
}

.menu {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	background-color: lightgray;
	z-index: 9000;
}

.menu-caption {
	height: 100%;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
	
	
	> p {
		color: $caption-color;
		margin: 0;
	}
}

.action-list {
	
	max-height: 0;
	margin-top: 1px;
	padding-left: 0;
	background: white;
	background-color: lightgray;
	list-style: none;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0,0,0,0.45);
	@include transition(max-height 0.5s ease);
	

	
	> li {
		border-top: 1px solid darken(lightgray, 20%);
		height: 40px;
		
		&:hover {
			background: darken(lightgray, 5%);
			font-weight: 700;
		}
		
		> a {
			display: block;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 30px;
			color: darken(grey, 30%);
			text-decoration: none;
		}
	}
}

.triangle {
	position: absolute;
    top: 15px;
    right: 20px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
    border-bottom: 0;
    border-top-color: #000;
	@include transition(all 0.5s ease);
	@include transform(0.3s);
}



/* TABS */

.tabs { 
	width: 100%;
	margin-top: 30px;
	min-height: 500px;
}

input[name="tab"] { 
  display: none;
}

.tab-link {
	position: relative;
	display: block;
	float: left;
	width: 23.5%;
	font-size: 1rem;
	cursor: pointer;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: 15px 0;
	text-align: center;
	background: $tab-label-background;
	z-index: 1;
	
	&:hover {
		background: darken($tab-label-background, 10%);
	}
	
	+ .tab-link {
		margin-left: 2%;
	}
	
	&:focus {
		outline: none;
	}
	
}

.tab {
	clear: both;
	background: #ddd;
	padding: 20px;
	display: none;
	height: auto;
	width: 100%;
	min-height: 660px;
	
	iframe {
		width: 100%;
		height: 640px;
		border: none;
		margin-top: 15px;
		position: relative;
	}
}

.target-fix {
	display: block;
	top: 0;
	left: 0;
	position: fixed;
} 

/* ON FOCUS  */
.tab-link:focus,
#tab-public-folders:checked ~ label:nth-of-type(4),
#tab-my-team-folders:checked ~ label:nth-of-type(3),
#tab-my-folders:checked ~ label:nth-of-type(2),
#tab-my-folders:not(:checked) ~ #tab-my-team-folders:not(:checked) ~ #tab-public-folders:not(:checked) ~ label:nth-of-type(1) {
	color: $caption-color;
	
	&:before {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: "";
		background: #ddd;
		z-index: -1;
	}
}

.tabs {
	 input:nth-of-type(2):not(:checked) ~ input:nth-of-type(3):not(:checked) ~ input:nth-of-type(4):not(:checked) ~ .tab:nth-of-type(1),
	 input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
	 input:nth-of-type(3):checked ~ .tab:nth-of-type(3),
	 input:nth-of-type(4):checked ~ .tab:nth-of-type(4) 
	{
	  display: block;
	}
}

/* TAB ACTION BAR */

.action-bar {
	@include clearfix;
	position: relative;

	.iframe-selector {
		width: 260px;
		padding: 5px;
		float: left;
	}
	
	> a {
		display: block;
		float: right;
		padding: 10px;
		
		&:hover {
			background: #fff;
		}
	}
	
	.go-to-page {
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 12px;
	}
	
	.options {
		padding-bottom: 9px;
	}
}

.option-dropdown {
	display: none;
	position: absolute;
	width: 100%;
	background: #fff;
	top: 100%;
	z-index: 9000;
	
	form {
		margin: 20px;
	}
	
	fieldset {
		display: block;
		background: #ddd;
		padding: 10px 20px;
		
		+ fieldset {
			margin-top: 10px;
		}
		
		.input-wrapper {
			display: inline-block;
			width: 37%;
			
			input {
				margin-left: 10px;
				width: 70%;
				height: 2rem;
			}
			
			+ .input-wrapper {
				margin-left: 30px;
			}
		}
	}
	
	.field-name {
		display: inline-block;
		margin-right: 60px;
		width: 10%;
	}
	
	.form-options {
		float: right;
		width: auto;
		margin-top: 10px;
	
		.submit {
			display: inline-block;
			background: lighten(#000, 10%);
			color: #fff;
			border: none;
			padding: 6px 30px;
			margin-left: 8px;
			
			&:hover {
				background: #000;
			}
		}
		
		.cancel {
			display: inline-block;
			padding-top: 5px;
			padding-bottom: 15px;
		}
	}
	
	@media only screen and (max-width: 875px) {
		.field-name {
			display: block;
			margin-bottom: 20px;
			width: 100%;
		}
		
		fieldset {
			.input-wrapper {
				display: block;
				width: 100%;
				
				label {
					display: inline-block;
					width: 12%;
				}
				
				+ .input-wrapper {
					margin-left:0;
					margin-top: 20px;
				}
			}
		}

	}
}